/*Reset CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th, caption {
    font-weight: normal;
    text-align: left; 
}
img, fieldset { 
    border: 0; 
}
ol { 
    padding-left: 1.4em; 
    list-style: decimal;
}
ul { 
    padding-left: 1.4em; 
    list-style: none; 
}
q:before, q:after {
    content:''; 
}
a {
    text-decoration: none;
}

/* Begin CSS */
body {
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px auto auto auto;
	color:#000;
}

#main_container{
	width: 1000px;
	margin: 0 auto;
}

#header{
	background:#000000;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow:0 0 10px #000;
	height:50px;
}

#header .site_name{
	float:left;
	display:inline;
	font-size:15px;
	line-height:50px;
	padding-left: 20px;
	color: #ffffff;
}

ul.menu{
	float:right;
	display:inline;
	width:auto;
	padding-right: 20px;
}

ul.menu li{
	display:inline;
	font-size:11px;
	font-weight:bold;
	line-height:50px;
}

ul.menu li.register{
	border-right: 1px solid #ffffff;
}

ul.menu a{
	padding:0 8px 0px 8px; 
	color:#999;
	font-size:12px;	
}

ul.menu a:hover{
	color:#fff;
}


/*CSS for body*/
#leftcolumn{
	float:left;
	width:170px;
}

#rightcolumn{
	float:left;
	width:220px;
}

#centercolumn{
	float:left;
	width:550px;
	margin-left:30px;
	margin-right: 30px;
}

#body{
	height:500px;
	margin-top:20px;
}

#leftcolumn .title_box{
	background:rgb(86, 130, 120);
	height:30px;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
}

#leftcolumn ul.genre_menu{
	padding:0px;
}

#leftcolumn ul.genre_menu a{
	color:#504B4B;
	font-size:12px;
}

#leftcolumn ul.genre_menu li.odd a{
	display:block;
	background:url(../images/checked.png) no-repeat left #dad0d0;
	border-bottom:1px #fff solid;
	padding:0 0 0 25px;
	line-height:33px;
}

#leftcolumn ul.genre_menu li.even a{
	display:block;
	background:url(../images/checked.png) no-repeat left #eee6e6;
	border-bottom:1px #fff solid;
	padding:0 0 0 25px;
	line-height:33px;
}

#leftcolumn ul.genre_menu li a:hover{
	background:url(../images/checked.png) no-repeat left #7bbcc7;
	color:#FFFFFF;
}

#centercolumn .title_bar{
	height:30px;
	background: rgb(215, 215, 215);
	border-radius:5px;
	padding:0 0 0 40px;
	line-height: 33px;
	font-size:13px;
	color:#847676;
	font-weight:bold;
}

#centercolumn .movie_box{
	float: left;
	width:160px;
	height:auto;
	padding:10px 10px 10px 10px;
}

#centercolumn .movie_box .movie_title{
	margin-bottom:5px;
}

#centercolumn .movie_box .movie_title a{
	padding-left: 40px;
	color:#07b;
	font-size:12px;
}

#centercolumn .movie_box .movie_summary{
	margin-top:5px;
}

#centercolumn .movie_box .movie_summary a{
	color:#07b;
}

#centercolumn .movie_box .movie_title a:hover, #centercolumn .movie_box .movie_summary a:hover{
	color:#E57D18;
}

#centercolumn .movie_box .movie_img img:hover{
	box-shadow:0 0 10px #000;
}

#rightcolumn .title_bar{
	height:30px;
	background: rgb(215, 215, 215);
	border-radius:5px;
	padding:0 0 0 40px;
	line-height: 33px;
	font-size:13px;
	color:#847676;
	font-weight:bold;
}

#rightcolumn .hotmovie_list{
	padding-left:0;
}

#rightcolumn .hotmovie_list .hotmovie_box{
	float:left;
	height:auto;
	padding:27px 10px 10px 10px;
}

#rightcolumn .hotmovie_list .hotmovie_box .hotmovie_label{
	float:left;
	color:#AAA9A5;
	font-size:35px;
	width:40px;
	line-height: 140px;
	text-align:center;
	font-weight:bold;
}

#rightcolumn .hotmovie_list .hotmovie_box .hotmovie_image{
	float:left;
}

#rightcolumn .hotmovie_list .hotmovie_box .hotmovie_image:hover{
	box-shadow:0 0 10px #000;
}

.footer{
	clear: both;
	background-color:#333;
	color:#9f9f9f;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	height:50px;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
	padding:10px 0;
	text-align:center;
	font-size:12px;
}

.footer .contact_us{
	color:#9f9f9f;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
}

.footer .contact_us:hover{
	color:#fff;
}

#login_box_wrapper{
	display:none;
}

#login_box{
	width:268px;
	height:auto;
	border: 1px solid #c9cacd;
	background:#fff;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#login_box .login_box_header{
	text-align:center;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom:1px solid #eee;
}

#login_box h3{
	font-size:16px;
	font-weight:bold;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	line-height:30px;
}

#login_box .login_form{
	padding:15px 20px 30px;
}

#login_box .login_form .login_form_email{
	background: url("../images/login_form_email.png") no-repeat;
}

#login_box .login_form input{
	padding:5px 4px;
	background:transparent;
	padding-left:34px;
	padding-right:13px;
	border:none;
}

#login_box .login_form .login_form_password{
	background: url("../images/login_form_password.png") no-repeat;
}

#login_box .login_form .login_form_remember{
	line-height: 60px;
}

#login_box .login_form .login_form_submit{
	float:right;
	background: #58636a;
	border-radius:4px;
	margin-top: 20px;
	color:#9f9f9f;
	cursor:pointer;
	text-align:center;
	padding:4px 10px;
}

#login_box .login_form .login_form_submit:hover{
	color:#fff;
}

#register_box_wrapper{
	display:none;
}

#register_box{
	width:300px;
	height:auto;
	border: 1px solid #c9cacd;
	background:#fff;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#register_box .register_box_header{
	text-align:center;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom:1px solid #eee;
}

#register_box .register_box_header h3{
	font-size:16px;
	font-weight:bold;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	line-height:30px;
}

#register_box .register_form div h3{
	margin-left:5px;
}

#register_box .register_form div input{
	display:inline;
	margin-left:30px;
}

#register_box .register_form input{
	margin-left:200px;
}
